    <ul>
      <li>
        <a href="/users">
          All users
        </a>
      </li>
      
      <li>
        <a href="/photos">
          All public photos
        </a>
      </li>

        <li>
          <a href="/edit_user_profile">
            itsme
          </a>
        </li>

        <li>
          <a href="/user_sign_out">
            Sign out
          </a>
        </li>
    </ul>



    <h1>bob</h1>

<dl>
  <dt>Private</dt>
  <dd>false</dd>

  <dt>Followers</dt>
  <dd>
    37


      <div>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_recipient_id" value="92">

            <button>
              Follow
            </button>
          </form>
    </div>

  </dd>

  <dt>Following</dt>
  <dd>12</dd>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/bob">Profile</a>
    </li>
    <li>
      <a href="/users/bob/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/bob/feed">Feed</a>
    </li>
    <li>
      <a href="/users/bob/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (6)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <tr>
    <td>
      <img src="https://robohash.org/atharumblanditiis">
    </td>

    <td>
      bob
    </td>

    <td>
      Fear cuts deeper than swords.
    </td>

    <td>
      almost 4 years ago
    </td>

    <td>
      6
    </td>

    <td>
      <a href="/photos/747">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://robohash.org/assumendatemporibusodio">
    </td>

    <td>
      bob
    </td>

    <td>
      Power is a curious thing. Who lives, Who dies. Power resides where men believe it resides. It is a trick, A shadow on the wall.
    </td>

    <td>
      over 3 years ago
    </td>

    <td>
      6
    </td>

    <td>
      <a href="/photos/749">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://robohash.org/voluptatemquoqui">
    </td>

    <td>
      bob
    </td>

    <td>
      Fear cuts deeper than swords.
    </td>

    <td>
      almost 5 years ago
    </td>

    <td>
      5
    </td>

    <td>
      <a href="/photos/750">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://robohash.org/utadesse">
    </td>

    <td>
      bob
    </td>

    <td>
      Fear cuts deeper than swords.
    </td>

    <td>
      almost 3 years ago
    </td>

    <td>
      4
    </td>

    <td>
      <a href="/photos/745">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://robohash.org/harummagnamaliquam">
    </td>

    <td>
      bob
    </td>

    <td>
      Knowledge could be more valuable than gold, more deadly than a dagger.
    </td>

    <td>
      over 4 years ago
    </td>

    <td>
      2
    </td>

    <td>
      <a href="/photos/746">
        Show details
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://robohash.org/sitexercitationemullam">
    </td>

    <td>
      bob
    </td>

    <td>
      Summer will end soon enough, and childhood as well.
    </td>

    <td>
      almost 4 years ago
    </td>

    <td>
      0
    </td>

    <td>
      <a href="/photos/748">
        Show details
      </a>
    </td>
  </tr>
</table>
